<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="fondo">
        <img src="{{ url_for('static', filename='images/tknika_fondo_negro.png') }}" alt="image" height="50" width="50">
    </div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="../static/images/Zornotza_logo5.jpg" alt="image" height="50" width="50">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Zornotza LHII</h4>
                    <p class="chatbox__description--header">¡Hola! Estás hablando con el soporte de Zornotza LHII. ¿En qué te puedo ayudar?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Idatzi mezu bat...">
                <button class="chatbox__send--footer send__button">Bidali</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/robot-microfono.jpg') }}" height="100px" width="60px"/></button>
        </div>
    </div>
</div>

    <script>
        var $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>